{% extends "status/base.html" %}

{% block title %}{{ page.name }}{% endblock %}
{% block page %}
  <h1 class="site-title">UTC</h1>
  {% for service in services %}
  <div class="service service-{{ service.get_status_display|lower }}">
      <div class="service-visible">
        <div class="service-left">
          <div class="service-name">{{ service.name }}</div>
          <div class="service-message">Message détaillant le status</div>
        </div>
        <div class="service-right">
          <span class="glyphicon glyphicon-chevron-down btn-lg"></span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-ok btn-lg"></span>
        </div>
      </div>
      <div class="service-details">
        <ul class="nav nav-tabs">
          <li><a href="#response-time" data-toggle="tab">Latence</a></li>
          <li><a href="#load-time" data-toggle="tab">Temps de chargement</a></li>
          <li><a href="#uptime" data-toggle="tab">Disponiblité</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="response-time"><div class="graph" id="graph1"></div></div>
          <div class="tab-pane" id="uptime"><img class="graph" src="graph.png" /></div>
          <div class="tab-pane" id="messages"><img class="graph" src="graph.png" /></div>
        </div>
      </div>
  </div>
  {% endfor %}

{% endblock %}